<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="stylesheet" href="bottle/bottle.css" />

        <title>Lyra's Petition</title>
    </head>
    <body>
        <div class="container">
            {{! <header>
                <h1>Lyra's Petition</h1>
            </header> }}
            {{{body}}}
            <footer>© Lyra Von Rose. 2021</footer>
        </div>
        <script src="canvas.js"></script>
    </body>
</html>