<form action="/profile/edit" method="post">
    <p>Edit your profile 🥰</p>
    <input type="text" placeholder="firstname" name="first" />
    <br />
    <input type="text" placeholder="lastname" name="last" />
    <br />
    <input type="text" placeholder="email" name="email" />
    <br />
    <input type="text" placeholder="password" name="password" />
    <br />
    <input type="text" placeholder="age" name="age" />
    <br />
    <input type="text" placeholder="city" name="city" />
    <br />
    <input type="text" placeholder="website" name="url" />
    <br />
    <button type="submit"><strong>SUBMIT</strong></button>
    {{#if err}}
        <p>Error 😞</p>
    {{/if}}
</form>