<form action="/login" method="post">
    <p><strong>Log In 👽</strong></p>
    <input type="email" placeholder="email" name="email" />
    <br />
    <input type="password" placeholder="password" name="password" />
    <br />
    <br />
    <button type="submit"><strong>LOG IN</strong></button>
    {{#if err}}
        <p>Failed to login 😞</p>
    {{/if}}
</form>