<p>Please draw your signature below:</p>
<form action="/petition" method="post">
    {{! <input type="text" name="firstName" />
    <input type="text" name="lastName" /> }}

    <br />
    <input type="hidden" name="signature" id="signature" />
    <br />
    <canvas width="500" height="200" id="inputCanvas"></canvas>
    <br />
    <br />

    {{#if err}}
        <p>Failed to insert signature 😞</p>
    {{/if}}

    <button type="submit"><strong>COOL🕺</strong></button>
</form>

{{! ! contains a link to your script.js file that contains the code for your canvas signature logic }}