{{> bottleOpen }}

<form action="/profile" method="post">
    <p><strong>Tell us more about you 👽</strong></p>
    <input type="text" placeholder="age" name="age" />
    <br />
    <input type="text" placeholder="city" name="city" />
    <br />
    <input type="text" placeholder="https://" name="url" value="https://" />
    <br />
    <button type="submit"><strong>SUBMIT</strong></button>
    {{#if err}}
        <p>Error 😞</p>
    {{/if}}
</form>