<form action="/register" method="post">
    <p>please support by joining us 🤡</p>
    <input type="text" placeholder="firstname" name="first" />
    <br />
    <input type="text" placeholder="lastname" name="last" />
    <br />
    <input type="email" placeholder="email" name="email" />
    <br />
    <input type="password" placeholder="password" name="password" />
    <br />
    <button type="submit"><strong>SIGN UP</strong></button>
    {{#if err}}
        <p>Error on registration 😞</p>
    {{/if}}

    <p><strong>Already have an account? </strong><a href="/login">Log in</a></p>

</form>