{{#each signatures}}
    <p>
        {{firstName}}
        {{lastName}}
    </p>
{{/each}}
{{! expects an array of objects with first and last name properties. loops through the array and prints each first and last name }}